{% extends 'application/base.html' %}

{% block content %}
    <form action="" method="POST">
        {% csrf_token %}

        <!-- Email input -->
        <div class="form-outline mb-4">
            <input name="username"
                   type="text"
                   class="form-control"/>
            <label class="form-label"
                   for="username">
                Username
            </label>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <input name="password"
                   type="password"
                   class="form-control"/>
            <label class="form-label" for="password">Password</label>
        </div>

        <!-- 2 column grid layout for inline styling -->
        <div class="row mb-4">
            <div class="col d-flex justify-content-center">
                <!-- Checkbox -->
                <div class="form-check">
                    <input id="terms_of_service_checkbox"
                           class="form-check-input"
                           type="checkbox"
                           value=""
                           checked/>
                    <label class="form-check-label"
                           for="terms_of_service_checkbox">
                        Remember me
                    </label>
                </div>
            </div>

            <div class="col">
                <!-- Simple link -->
                <a href="#!">Forgot password?</a>
            </div>
        </div>

        <!-- Submit button -->
        <button
                type="submit"
                class="btn btn-primary btn-block mb-4">
            Sign in
        </button>

        <!-- Register buttons -->
        <div class="text-center">
            <p>
                Not a member?
                <a href="{% url 'register' %}">
                    Register
                </a>
            </p>
        </div>
    </form>
{% endblock content %}