{% extends 'application/base.html' %}

{% block content %}
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row justify-content-center align-items-center h-100">
                <div class="col-12 col-lg-9 col-xl-7">
                    <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                        <div class="card-body p-4 p-md-5">
                            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Registration Form</h3>
                            <form action="" method="POST">
                                {% csrf_token %}

                                <!-- Name and surname -->
                                <div class="row">
                                    <div class="col-md-6 mb-4">

                                        <div class="form-outline">
                                            <input id="firstName"
                                                   name="firstName"
                                                   type="text"
                                                   class="form-control form-control-lg"/>
                                            <label for="firstName"
                                                   class="form-label">First Name</label>
                                        </div>

                                    </div>
                                    <div class="col-md-6 mb-4">

                                        <div class="form-outline">
                                            <input id="surname"
                                                   name="surname"
                                                   type="text"
                                                   class="form-control form-control-lg"/>
                                            <label for="surname"
                                                   class="form-label">Surname</label>
                                        </div>

                                    </div>
                                </div>

                                <!-- E-mail & gender -->
                                <div class="row">

                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <input id="email"
                                                   name="email"
                                                   type="email"
                                                   class="form-control form-control-lg"/>
                                            <label for="emailAddress"
                                                   class="form-label">Email</label></div>
                                    </div>

                                    <div class="col-md-6 mb-4">
                                        <h6 class="mb-2 pb-1">Gender:</h6>
                                        <div class="form-check form-check-inline">
                                            <input id="femaleGender"
                                                   class="form-check-input"
                                                   type="radio"
                                                   name="inlineRadioOptions"
                                                   value="option1"
                                                   checked/>
                                            <label for="femaleGender"
                                                   class="form-check-label">Female</label>
                                        </div>

                                        <div class="form-check form-check-inline">
                                            <input id="maleGender"
                                                   class="form-check-input"
                                                   type="radio"
                                                   name="inlineRadioOptions"
                                                   value="option2"/>
                                            <label for="maleGender"
                                                   class="form-check-label">Male</label>
                                        </div>

                                        <div class="form-check form-check-inline">
                                            <input id="otherGender"
                                                   class="form-check-input"
                                                   type="radio"
                                                   name="inlineRadioOptions"
                                                   value="option3"/>
                                            <label for="otherGender"
                                                   class="form-check-label">Other</label>
                                        </div>

                                    </div>
                                </div>
                                <!-- Passwords -->
                                <div class="row">

                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <input id="password"
                                                   name="password"
                                                   type="password"
                                                   class="form-control form-control-lg"/>
                                            <label for="password"
                                                   class="form-label">Password</label>
                                        </div>
                                    </div>

                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <input id="passwordRepeat"
                                                   name="passwordRepeat"
                                                   type="password"
                                                   class="form-control form-control-lg"/>
                                            <label for="passwordRepeat"
                                                   class="form-label">Repeat password</label>
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="mt-4 pt-2">
                                        <input type="submit"
                                               class="btn btn-primary btn-lg"
                                               value="Submit"/>
                                    </div>
                                </div>


                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}